%a.pure-button.pure-button-primary{href: new_anunciante_anuncio_path}
  %i.fa.fa-plus
  Nuevo anuncio

.cards
  - @anuncios.each do |a|
    = link_to a.id, anunciante_anuncio_path(@anunciante, a), {class: "card"}
