%a{href: new_anunciante_anuncio_path, class: (action_name == "index") ? "pure-button pure-button-primary" : "pure-button"}
  %i.fa.fa-plus
  Nuevo anuncio

.cards
  - if @anuncios.empty?
    .card.disabled Aquí no hay nada
  - else
    - @anuncios.each do |a|
      = link_to a.id, anunciante_anuncio_path(@anunciante, a), {class: "card"}
