%h1
  Anuncios del anunciante
  = link_to @anunciante.nombre, @anunciante

%a.pure-button.pure-button-primary{href: new_anunciante_anuncio_path}
  %i.fa.fa-plus
  Nuevo anuncio

.cards
  - @anuncios.each do |a|
    = link_to a.id, anunciante_anuncio_path(@anunciante, a), {class: "card"}
    
%p
  %a.pure-button{href: anunciantes_path}
    %i.fa.fa-arrow-left
    Volver a anunciantes
