- content_for :main do
  .pure-g
    .pure-u-1.pure-u-lg-1-4.side
      %h1 &nbsp;
      = render "list"

    .pure-u-1.pure-u-lg-1-24
    .pure-u-1.pure-u-lg-17-24
      = yield

= render template: "layouts/application"
