%a{href: new_anunciante_path, class: (action_name == "index") ? "pure-button pure-button-primary" : "pure-button"}
  %i.fa.fa-plus
  Nuevo anunciante

.cards
  - if anunciantes.empty?
    .card.disabled Aquí no hay nada
  - else
    - anunciantes.each do |anunciante|
      = link_to anunciante, {class: "card"} do
        = anunciante.nombre
        %span.count #{anunciante.anuncios.count} anuncios
        %span.count #{anunciante.anunciante_contratos.count} contratos
