%h1 Todos los anunciantes

%a.pure-button.pure-button-primary{href: new_anunciante_path}
  %i.fa.fa-plus
  Nuevo anunciante

.cards
  - @anunciantes.each do |anunciante|
    = link_to anunciante, {:class => "card"} do
      = anunciante.nombre
      %span.count #{anunciante.anuncios.count} anuncios
      /%span.count #{anunciante.contratos.count} contratos
