%a{href: new_medio_path, class: (action_name == "index") ? "pure-button pure-button-primary" : "pure-button"}
  %i.fa.fa-plus
  Nuevo medio

.cards
  - if @medios.empty?
    .card.disabled Aquí no hay nada
  - else
    - @medios.each do |medio|
      = link_to medio, {class: "card"} do
        = medio.nombre
        %span.count #{medio.espacios.count} espacios
        %span.count #{medio.medio_contratos.count} contratos
