%h1 Todos los medios

= link_to "Nuevo medio", {:controller => :medios, :action => :new}, {:class => "pure-button pure-button-primary"}

.cards
  - @medios.each do |medio|
    = link_to medio.nombre, medio, {:class => "card"}
