%h1= @medio.nombre

%p
  = @medio.web

%p
  = @medio.fiscales

%p
  %a.pure-button{href: medios_path}
    %i.fa.fa-arrow-left
    Atrás

  /%a.pure-button{href: }
  = link_to "Espacios", {:controller => :espacios, :action => :index, :medio_id => @medio.id}, {:class => "pure-button pure-button-primary"}
