%a.pure-button.pure-button-primary{href: new_medio_contrato_path}
  %i.fa.fa-plus
  Nuevo contrato

.cards
  - if @contratos.empty?
    .card.disabled Aquí no hay nada
  - else
    - @contratos.each do |c|
      %p
        = link_to "Contrato #{c.id}", {controller: :medio_contratos, action: :show, id: c.id}, {class: "card"}
