%h1
  = render partial: "common/back", locals: {path: medios_path}
  Contratos con el medio
  = link_to @medio.nombre, @medio


%a.pure-button.pure-button-primary{href: new_medio_contrato_path}
  %i.fa.fa-plus
  Nuevo contrato

.cards
  - @contratos.each do |c|
    %p
      = link_to "Contrato #{c.id}", medio_contrato_path(@medio, c), {class: "card"}
