%a.pure-button.pure-button-primary{href: new_audience_path}
  %i.fa.fa-plus
  Nueva audiencia

.cards
  - if @audiences.empty?
    .card.disabled Aquí no hay nada
  - else
    - @audiences.each do |audiencia|
      = link_to audiencia, {class: "card"} do
        = audiencia.nombre
