%h1
  = render partial: "common/back", locals: {path: "/"}
  Audiencias

%a.pure-button.pure-button-primary{href: new_audience_path}
  %i.fa.fa-plus
  Nueva audiencia

.cards
  - @audiences.each do |audiencia|
    = link_to audiencia, {class: "card"} do
      = audiencia.nombre
