%h1 Audiencias

%a.pure-button.pure-button-primary{href: new_audience_path}
  %i.fa.fa-plus
  Nueva audiencia

.cards
  - @audiences.each do |audiencia|
    = link_to audiencia, {class: "card"} do
      = audiencia.nombre
      %span.count #{audiencias.count}

%p
  %a.pure-button{href: "/"}
    %i.fa.fa-arrow-left
    Atrás
