%a{href: new_medio_espacio_path, class: (action_name == "index") ? "pure-button pure-button-primary" : "pure-button"}
  %i.fa.fa-plus
  Nuevo espacio

.cards
  - if @espacios.empty?
    .card.disabled Aquí no hay nada
  - else
    - @espacios.each do |e|
      %p
        = link_to "Espacio #{e.id}", medio_espacio_path(@medio, e), {class: "card"}
