%h1
  Espacios del medio
  = link_to @medio.nombre, @medio

%a.pure-button.pure-button-primary{href: new_medio_espacio_path}
  %i.fa.fa-plus
  Nuevo espacio

.cards
  - @espacios.each do |e|
    = link_to e.id, e, {class: "card"}
