%h1
  = render partial: "common/back", locals: {path: medios_path}
  Espacios del medio
  = link_to @medio.nombre, @medio

%a.pure-button.pure-button-primary{href: new_medio_espacio_path}
  %i.fa.fa-plus
  Nuevo espacio

.cards
  - @espacios.each do |e|
    %p
      = link_to "Espacio #{e.id}", medio_espacio_path(@medio, e), {class: "card"}
